@model MoviesApp.Models.Page
<link rel="stylesheet" href="~/css/home.css" />
<div>
    <header id="backdrop" class="banner" style="background-image:url(@TMDBHelper.GetImageFullPath(Model.results.ElementAt(0).backdrop_path))">
        <div class="banner__contents">
            <h1 id="title" class="banner__title">@Model.results.ElementAt(0).title</h1>
            <label id="date">@Model.results.ElementAt(0).release_date</label>
            <div class="banner__buttons">
                <form id="DetailsForm" action="~/MovieDetails/@Model.results.ElementAt(0).id">
                    <button class="banner__button" type="submit">View</button>
                </form>
            </div>
            <h1 id="overview" class="banner__description">
                @Model.results.ElementAt(0).overview
            </h1>
        </div>
        <div class="banner--fadeBottom"></div>
    </header>
    <div style="margin-left:auto;" class="row">
        <form action="~/Home/@(Model.page-1)">
            <button class="banner__button" type="submit">Previous Page</button>
        </form>
        <form action="~/Home/@(Model.page+1)">
            <button class="banner__button" type="submit">Next Page</button>
        </form>
    </div>
    @{ int postersCount = 5;}
    @for (int i = 0; i < (double)Model.results.Count() / postersCount; i++)
    {
        <div class="row__posters">
            @for (int j = i * postersCount; j < (i + 1) * postersCount; j++)
            {
                if (j == Model.results.Count())
                {
                    break;
                }
                <img id="@(i*postersCount+j)" class="row__poster row__posterLarge" src="@TMDBHelper.GetImageFullPath(Model.results.ElementAt(j).poster_path)" onclick="fn(this)" />
                <input type="hidden" id="backdrop@(i*postersCount+j)" value="@TMDBHelper.GetImageFullPath(Model.results.ElementAt(j).backdrop_path)" />
                <input type="hidden" id="title@(i*postersCount+j)" value="@Model.results.ElementAt(j).title" />
                <input type="hidden" id="overview@(i*postersCount+j)" value="@Model.results.ElementAt(j).overview" />
                <input type="hidden" id="id@(i*postersCount+j)" value="@Model.results.ElementAt(j).id" />
                <input type="hidden" id="date@(i*postersCount+j)" value="@Model.results.ElementAt(j).release_date" />
            }
        </div>
    }
    <script>
        function fn(element) {
            var id = element.id;
            var backdropHidden = document.getElementById("backdrop" + id);
            document.getElementById("backdrop").style.backgroundImage = "url(" + backdropHidden.value + ")";
            var overview = document.getElementById("overview" + id).value;
            document.getElementById("overview").innerHTML = overview;
            var title = document.getElementById("title" + id).value;
            document.getElementById("title").innerHTML = title;
            var Movieid = document.getElementById("id" + id).value;
            var oldAction = document.getElementById("DetailsForm").action;
            var arr = oldAction.split("/");
            var newAction = arr[0] + "/" + "/" + arr[2] + "/" + "MovieDetails/" + Movieid;
            document.getElementById("DetailsForm").action = newAction;
            var date = document.getElementById("date" + id).value;
            document.getElementById("date").innerHTML = date;
            window.scrollTo(0,0);
        }
    </script>
</div>
