@model MoviesApp.Models.Page
<div class="row" >
    <div class="row">
        Page : @Model.page
    </div>
    <div style="margin-left:auto;" class="row">
        <form action="~/Home/@(Model.page-1)" >
            <input class="btn" type="submit" value="Previous Page" />
        </form> 
        <form action="~/Home/@(Model.page+1)">
            <input class="btn" type="submit" value="Next Page" />
        </form>
    </div>
</div>
<hr />

@foreach(Result movie in Model.results)
            {
                <div class="row">
                    <div class="col-3">
                        <a href="~/MovieDetails/@movie.id">
                            <img src="@TMDBHelper.GetImageFullPath(movie.poster_path)"
                                 style="width:230px;height:270px;" />
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="row" style="margin-right:20px;margin-bottom:50px;">
                            <h3>@movie.title</h3>
                        </div>
                        <div class="row">
                            <table>
                                <tr>
                                    <th>Release Date :</th>
                                    <td>@movie.release_date</td>
                                </tr>
                                <tr>
                                    <th>Language :</th>
                                    <td>@movie.original_language</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <h6>Overview : </h6>
                        </div>
                        <div class="row">
                            <p>
                                @movie.overview
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
            }